{% block body %}
    <div style="width: 50%; margin: auto; margin-top: 200px; background-color: darkred; color: white; text-align: center;">
        <h1>POZOR!<br> nejedná se o funkční stránky časopisu Logos polytechnikos!<br> Pouze školní projekt týmu Tarzani!</h1><br><br>
        <a href="{{ path('homepage') }}"><button type="button" class="btn btn-primary"><h2>Pokračovat do projektu</h2></button></a>
    </div>
{% endblock %}