{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Kontakty</h2><br>
        <h3>Team Tarzani</h3><br><br>
        <p>
            Václav Seidler
        </p>
        <p>
            Jakub Štulíř
        </p>
        <p>
            Jan Karas
        </p>
        <p>
            Pavel Kincl
        </p>
        <p>
            Štefan Pilát
        </p>
        <p>
            Jan Přibyl
        </p>

    </div>
{% endblock %}