{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Pokyny pro přispěvatele</h3>
        <h4> Charakteristika časopisu</h4>
        <p>
            Časopis LOGOS POLYTECHNIKOS je vysokoškolský odborný recenzovaný časopis, který slouží
        pro publikační aktivity akademických pracovníků Vysoké školy polytechnické Jihlava a jiných
        vysokých škol, univerzit a výzkumných organizací. Od roku 2010 do roku 2018 vycházel
        časopis čtyřikrát ročně v elektronické a tištěné podobě. Od roku 2019 je vydáván třikrát
        ročně pouze v elektronické verzi. Jednotlivá čísla jsou tematicky zaměřená dle níže
        uvedeného rozpisu.
            </p>
        <h4>Charakter publikovaných příspěvků a formální úprava</h4>
        <p>
        Publikovat je možné odborné články, statě, přehledové studie, recenze a další typy
        odborných příspěvků v českém, slovenském a anglickém jazyce. Akceptovány jsou pouze
        autorské texty, které nebyly dříve publikovány.
        Do recenzního řízení jsou přijímány příspěvky tematicky odpovídající zaměření časopisu
        a formálně upravené dle redakční šablony. Tato šablona je dostupná ke stažení na adrese:
        http://www.vspj.cz/tvurci-cinnost-a-projekty/casopisy-vspj/logos-polytechnikos
        Publikovat lze odborné texty z oblasti ekonomiky, managementu, marketingu, statistiky,
        operačního výzkumu, finanční matematiky, pojišťovnictví, cestovního ruchu, regionálního
        rozvoje, veřejné správy, sociologie, sportu, psychologie, sociální práce a zdravotnictví.
        </p>

        <h4> Doporučený rozsah příspěvku</h4>
        <p>
        Rozsah jednoho příspěvku by neměl přesáhnout 30 600 znaků. Příspěvky většího rozsahu je
        možné přijmout do recenzního řízení po předchozí domluvě.
        </p>

        <h4> Způsob odevzdání příspěvku</h4>
        <p>
        Příspěvky je zapotřebí odeslat v elektronické podobě ve formátu doc. nebo docx. Na adresu
        logos@vspj.cz.
        </p>

        <h4> Termíny uzávěrek a termíny vydání</h4>
        <p>
            Příspěvky lze zasílat po celý kalendářní rok. Po doručení jsou zařazeny do recenzního řízení
        nejbližšího tematicky odpovídajícího čísla. Uzávěrky pro sběr příspěvků do jednotlivých čísel
        jsou stanoveny následovně:
        </p><br>
        <table style="width: 50%; margin: auto;">
            <tr>
                <th style="min-width: 80px;">číslo</th>
                <th style="min-width: 80px;>tematické zaměření čísla</th>
                <th style="min-width: 80px;>uzávěrka</th>
            </tr>
            <tr>
                <td>1</td>
                <td>ošetřovatelství, porodní asistence a další zdravotnické obory<br>
                    Číslo 1 vychází v dubnu v následujícím kalendářním roce
                </td>
                <td>
                    31. 12.
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    ošetřovatelství, porodní asistence a další zdravotnické obory,<br>
                    sociologie, sport, psychologie, sociální práce<br>
                     Číslo 2 vychází v srpnu v kalendářním roce uzávěrky
                </td>
                <td>
                    30. 4.
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>ekonomika, management, marketing, statistika, operační výzkum,<br>
                    finanční matematika, pojišťovnictví, cestovní ruch, regionální rozvoj,<br>
                    veřejná správa<br>
                    Číslo 3 vychází v prosinci v kalendářním roce uzávěrky
                </td>

                <td>
                    31. 8.
                </td>
            </tr>

        </table><br>
        <h4>Doporučená citační metoda</h4>
        <p>
        Bibliografické reference je doporučeno strukturovat dle aktuálních verzí ČSN ISO 690 a ČSN
        ISO 690-2 a jejich příloh.
        Pokud je to možné, vyhněte se v textu odkazování k poznámkám pod čarou. Doporučeným
        citačním stylem je citování pomocí systému „jméno, rok vydání a číslo strany“. Příklad:
        (Novák, 2015, str. 100), případně (Novák, 2015a, str. 100).
        </p>
        <h4>Náležitosti textu a formátování</h4>
        <p>Informace o doporučené struktuře a formátování textu jsou dostupné prostřednictvím
        redakční šablony. Jiné formátování je doporučeno omezit na nebytnou míru.<br>
        Text musí vždy obsahovat:
        <ul>
            <li>název příspěvku v českém, případně slovenském jazyce</li>
            <li>název příspěvku v anglickém jazyce</li>
            <li>klíčová slova v českém, případně slovenském jazyce</li>
            <li>klíčová slova v anglickém jazyce</li>
            <li>abstrakt v českém, případně slovenském jazyce</li>
            <li>abstrakt v anglickém jazyce</li>
            <li>celá jména všech autorů příspěvku</li>
            <li>kontaktní e-mailové adresy všech autorů příspěvku</li>
            <li>úplné názvy pracovišť všech autorů příspěvku</li>
            <li>korespondenční adresy pracovišť všech autorů příspěvku</li>
        </ul><br>

        <b>Příklad:</b><br><br>
        Jméno a příjmení autora (včetně akademických a profesních titulů)<br>
        Název pracoviště autora (u vysokoškolského nebo univerzitního pracoviště se uvádí i název<br>
        katedry, případně fakulty)<br>
        korespondenční adresa pracoviště:<br>
        Název ulice, číslo popisné/číslo orientační<br>
        Název obce, poštovní směrovací číslo<br>
        E-mailová adresa autora<br><br>
        Český (slovenský) překlad názvu článku, abstraktu a klíčových slov se nevyžaduje
        v případech, kdy přispěvatelem není český ani slovenský rodilý mluvčí.
        Pokud doručený text neobsahuje některou z výše uvedených náležitostí, je přispěvatel
        požádán o její doplnění.
        <p>
        <h4>Recenzní řízení</h4>
        Každý příspěvek je před vydáním posouzen dvěma recenzenty dle následujících kritérií:<br>
        <ul>
            <li>aktuálnost, zajímavost a přínosnost</li>
            <li>originalita</li>
            <li>odborná úroveň</li>
            <li>jazyková a stylistická úroveň</li>
        </ul><br><br>
        Oba posudky jsou před vydáním příspěvku odeslány jeho autorům prostřednictvím
        elektronické pošty. Autoři mohou být souběžně vyzváni ke zvážení případných výhrad
        a doporučení ze strany recenzenta a požádáni o úpravu textu příspěvku.<br><br>

        <h4>Adresa nakladatele</h4><br>
        Vysoká škola polytechnická Jihlava<br>
        redakce LOGOS POLYTECHNIKOS<br>
        Tolstého 1556/16<br>
        586 01 Jihlava<br><br>
        IČ: 71226401<br>
        DIČ: CZ71226401<br><br>
        <h4>Kontaktní osoba</h4><br>
        Bc. Zuzana Mafková<br>
        e-mail: logos@vspj.cz<br>

    </div>
{% endblock %}